<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor:</strong>
  <%= @slot.doctor_id %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @slot.hospital_id %>
</p>

<p>
  <strong>Slot duration:</strong>
  <%= @slot.slot_duration %>
</p>

<p>
  <strong>Slot shift:</strong>
  <%= @slot.slot_shift %>
</p>

<%= link_to 'Edit', edit_slot_path(@slot) %> |
<%= link_to 'Back', slots_path %>
