
<div class="well well-large form-horizontal alert alert-info user-form row-fluid">
  <%= form_for(@appointment, :url => doctor_appointments_path(@doctor)) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
      <%= f.label :patient_name, :class => "control-label required", :style=>"text-align:left;" %>
      <div class="controls">
        <%= f.text_field :patient_name, :class => "input-xlarge row-fluid", :autofocus => true %> 
      </div>       
    </div>

    <div class="control-group">
      <%= f.label :disease_description, :class => "control-label required", :style=>"text-align:left;" %>
      <div class="controls">
        <%= f.text_area :disease_description, :class => "input-xlarge row-fluid" %> 
      </div>       
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>  