<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.number_field :patient_id %>
  </div>
  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.number_field :doctor_id %>
  </div>
  <div class="field">
    <%= f.label :hospital_id %><br>
    <%= f.number_field :hospital_id %>
  </div>
  <div class="field">
    <%= f.label :slot %><br>
    <%= f.text_field :slot %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br>
    <%= f.number_field :department_id %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br>
    <%= f.number_field :status_id %>
  </div>
  <div class="field">
    <%= f.label :disease_description %><br>
    <%= f.text_field :disease_description %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
