<div class="col-lg-12">
  <%= form_tag search_doctors_sites_path, :remote => true do %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <i class="fa fa-search fa-2x"> 	Find a doctor</i>
        <%= select_tag "location", options_from_collection_for_select(@location, "id", "name"), prompt: "Select city" ,class: "pull-right"%>
    </div>
    <div class="panel-body">
        <%= text_field_tag :name, nil, :placeholder => "By name" %>&nbsp;
        <%= text_field_tag :speciality, nil, :placeholder => "By speciality" %>&nbsp;
        <%= text_field_tag :hospital, nil, :placeholder => "By hospital" %>&nbsp;
        <%= submit_tag "Submit",:class => "btn btn-info", :role =>"button", :style => "margin-right:10px;"%>
    </div>
  <% end %>
  </div>
  <div id="result_table">
    <h2>Search a doctor by name, speciality. </h2>
  </div>
</div>
